:root {
    --success-color: #6FCF97;
    --success-color-text: #0F552C;
    --danger-color: #EB5757;
    --danger-color-text: #FFFFFF;
    --warning-color: #F2C94C;
    --warning-color-text: #6E5404;

    --font-family: 'Montserrat';
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}